  <IfModule mod_rewrite.c>
    RewriteEngine on
    # Rewrite URLs of the form 'x' to the form 'index.html?p=x'.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/favicon.ico
    RewriteRule ^(.*)$ index.lasso?perma=$1 [L,QSA]
  </IfModule>

