/* login form */


div#login {
	background: #fff;
	border: 2px solid #a2a2a2;
	margin: 5em auto;
	padding: 1.5em;
	width: 25em;
}

div#login #login_error {
	background: #c00;
	border: 1px solid #a40000;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: .5em;
	text-align: center;
}

div#login h1 {
	background: url(../wp-images/wp-small.png) no-repeat;
	margin-top: 0;
}

div#login h1 a {
	display: block;
	text-indent: -1000px;
}

div#login input {
	padding: 3px;
}

div#login ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#login ul li {
	display: inline;
	margin-left: 1.4em;
	text-align: center;
}

div#login p.submit {
	text-align:right;
}

div#login input#submit {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}


